
body {
  background-color: #fce8e5;
  font-family: "Noto Serif Khitan Small Script", serif;
  font-weight: 400;
  font-style: normal;
  padding: 15px;
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  bottom: 100px;
}

img {
  width: 100%;
  height: 350px;
  opacity: 0.5;
  box-shadow: -1px 1px 22px 3px rgba(245, 169, 159, 0.9);
  border-radius: 16px;
  border: none;

}
header {
  padding:  10px 0 30px 0;
}
.weather-app {
  background-color: #fcf4f9;
  max-width: 800px;
  margin: 55px auto;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
  box-shadow: -1px 1px 22px 1px rgba(242, 174, 165, 0.6);
  border-radius: 16px;
  margin-top: 0;
  margin-bottom: none;
}

.search-form {
  margin-top: none;
  margin-bottom: 0px;
  direction: rtl;
}
.search-form-input {
  background-color: #fae9e7;
  border: none;
  border-radius: 6px;
  width: 30%;
  font-size: 16px;
  padding: 10px 10px;
  direction: ltr;
}
.search-form-button {
  direction: rtl;
  background-color: #fae9e7;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  color: #908593;
  font-size: 16px;
}
.container {
  position: relative;
  color:white;
}
::placeholder {
  color: #908593;
}
.line {
  border-top: 1px solid #C5A9BC;
}
.icon {
    position: absolute;
  left: 16px;
  font-size: 30px;
  bottom: 110px;
}
.text-1 {
 position: absolute;
  left: 16px;
  font-size: 80px;
  bottom: -50px;
  
}
.text-2 {
  position: absolute;
  bottom: 0px;
  left: 16px;
  font-size: 30px;
}
.text-3 {
  position: absolute;
  line-height: 25px;
  bottom: 20px;
  right: 20px;
  font-size: 25px;
}
 
a {
  color: #3a192f;
}
.material-symbols-outlined {
color: #bd91af; }


.current-details {
  border: 1px groove #DCC4D6;
  border-radius: 10px;
  background-color: white;
  margin-top: 10px;
  box-shadow: 12px 13px 17px 9px rgba(250, 233, 231, 0.6);
  color: #342a36;
  width: 41%;
  text-align: center;
  
   
}
.table-2 {
  width:41%;
  border: 3px groove rgba(197, 169, 188, 0.3);
  border-radius: 10px;
  
  background-color: #C5A9BC;
  margin-top: 20px;
  color: white;
  line-height: 25px;
  font-size: 18px;
  
}
.rain {
  color:rgb(17, 131, 42);
}
.table-3 {
  width: 56%;
  border: 1px solid #DCC4D6;
  border-radius: 10px;
  background-color: white;
  margin-top: -242px;
  margin-left: 350px;
  padding: 0px 0 87px 0;
  text-align: center;
}
footer {
  text-align: center;
  font-size: 15px;
  margin-top:20px;
  margin-right: 10px;
  margin-left: auto;
  color: #C5A9BC;
 direction: ltr;
  
}
